# Folders to ignore
/pdf_papers
/summaries
/txt_papers
tools/pdf_papers
tools/summaries
tools/txt_papers
# Ignore nested instances
**/pdf_papers/
**/summaries/
**/txt_papers/

# Python-specific ignores
__pycache__/
*.py[cod]
*$py.class
relatedworks.py
/Results
tools/Results
biblio.bib
